app/Integrations/shep/wsdl/AsyncChannel/v10/Types/AsyncChangeStatusNotifyRequest.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema targetNamespace="http://bip.bee.kz/AsyncChannel/v10/ITypes" xmlns:bons1="http://bip.bee.kz/common/v10/Types" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:import namespace="http://bip.bee.kz/common/v10/Types" schemaLocation="../../../common/v10/Types/Guid.xsd"/>
    <xsd:import namespace="http://bip.bee.kz/common/v10/Types" schemaLocation="../../../common/v10/Types/ChangeStatusNotification.xsd"/>

	<xsd:complexType name="AsyncChangeStatusNotifyRequest">
		<xsd:sequence>
			<xsd:element minOccurs="1" name="notification" type="bons1:ChangeStatusNotification">
				<xsd:annotation>
          <xsd:documentation>Идентификатор уведомления</xsd:documentation>
        </xsd:annotation>
			</xsd:element>





			<xsd:element minOccurs="1" name="requestDate" type="xsd:dateTime">
				<xsd:annotation>
          <xsd:documentation>Дата запроса</xsd:documentation>
        </xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="sessionId" type="bons1:guid">
				<xsd:annotation>
          <xsd:documentation>Идентификатор сессии ШЭП</xsd:documentation>
        </xsd:annotation>
			</xsd:element>

		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>